<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                tempora error nemo qui ullam obcaecati molestiae, velit in consequuntur
                non, voluptatum impedit earum totam accusamus voluptas ab enim quam
                architecto?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, iusto
                minus voluptatem neque dolor qui maiores, adipisci molestias veniam
                repudiandae ipsum reiciendis autem ea repellendus! Nobis modi quis ab
                blanditiis!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi delectus
                quam, ut reprehenderit saepe voluptatem adipisci molestiae consequatur.
                Assumenda inventore deserunt sed ipsa voluptates modi dignissimos possimus
                nemo corrupti sint!
            </p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
